<% layout("layouts/boilerplate") %>

    <h1>Add New Event to: <%= day.name %>
    </h1>
    <form action="/sportsDays/<%= day._id %>/events" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label" for="name">Event name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Event name" required>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please enter a valid name.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="gender">Gender</label>
            <select name="gender" id="gender" class="form-select form-select-md" aria-label=".form-select-sm example"
                required>
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
            </select>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please choose a gender.</div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="template" value="true" id="template">
                <label class="form-check-label" for="template">Add to Template Events</label>
            </div>
        </div>
        <div class="mb-3"><button class="btn btn-success">Add Event</button></div>
    </form>

    <form action="/sportsDays/<%= day._id %>">
        <button class="btn btn-primary">Back to <%= day.name %></button>
    </form>