<label class="form-label" for="password">Password</label>
<div class="input-group">
    <input class="form-control" type="password" id="password" name="password" required>
    <span class="input-group-text password-toggle" style="cursor:pointer;">
        <img src="/imgs/closedEye.svg" alt="">
    </span>
</div>
<div class="valid-feedback">All Good!</div>
<div class="invalid-feedback">Please enter a password</div>
<script src="/javascripts/passwordToggle.js"></script>