<label class="form-label" for="password">Password</label>
<div class="input-group">
    <input class="form-control" type="password" id="password" name="password" required>
    <span class="input-group-text" style="cursor:pointer;">
        <img src="/imgs/closedEye.svg" alt="">
    </span>
    <div class="valid-feedback">All Good!</div>
    <div class="invalid-feedback">Please enter a valid password</div>
</div>
<script src="/javascripts/passwordToggle.js"></script>