<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Sports Day</title>
</head>

<body>
    <h1>Add a new Sports Day</h1>
    <form action="/sportsDays" method="POST">
        <input type="text" name="name" placeholder="Sports day name">
        <button>Add</button>
    </form>

</body>

</html>