<% layout("layouts/boilerplate") %>

    <h1>New Sports Day</h1>
    <form action="/sportsDays" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="name" id="title" placeholder="Sports day name" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <button class="btn btn-success">Add Sports Day</button>
    </form>