<% layout("layouts/boilerplate") %>

    <div class="row my-3">
        <div class="col-sm-8 offset-sm-2">
            <div class="mb-4">
                <h1>
                    Hi, <%= signedInUser.username %>!
                </h1>
                <!-- <p class="fs-5">Page Settings</p> -->
                <% if(signedInUser.teacher===true) { %>
                    <h5>
                        Teacher Account
                    </h5>
                    <% } else { %>
                        <h5>
                            Student Account
                        </h5>
                        <%- include("../partials/studentSettings") %>
                            <% } %>
            </div>
            <p class="fs-5">Delete Account</p>
            <div class="mb-3">
                <div class="d-grid">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-name="your account" data-submit-to="/deleteAccount">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/deleteModal") %>

        <script src="/javascripts/deleteModal.js"></script>