<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-md-6 mb-3">
        <h1>Your Events</h1>
    </div>
    <% if(user.participating.length > 0) {%>
    <h3>You have signed up for:</h3>
    <ul class="list-group mb-2">
        <% for(let event of user.participating) {%>
        <li class="list-group-item list-group-item-action d-flex flex-wrap justify-content-between mb-1">
            <div class="m-2 m-md-0">
                <%= event.day.name %>
            </div>
            <div class="m-2 m-md-0">
                Event: <%= event.name %>
            </div>
            <form action="/sportsDays/<%= event.day._id %>/events/<%= event._id %>" class="m-2 m-md-0">
                <button class="btn btn-primary btn-sm ml-auto">Show More</button>
            </form>
        </li>
        <% } %>
    </ul>
    <% } else { %>
    <div class="mb-3 fs-3">You haven't signed up for any events yet!</div>
    <% } %>
</div>