<% layout("layouts/boilerplate") %>

    <div class="row">
        <div class="col-md-6 mb-3">
            <h1>Your Events</h1>
        </div>
        <p class="fs-5">You have signed up for:</p>
        <ul class="list-group mb-2">
            <% for(let event of user.participating) {%>
                <li class="list-group-item list-group-item-action d-flex flex-wrap justify-content-between mb-1">
                    <div class="m-2 m-md-0">
                        <%= event.name %>
                    </div>
                    <!-- <form action="/sportsDays/?_method=DELETE" method="POST" class="m-2 m-md-0">
                        <button class="btn btn-danger btn-sm ml-auto">Remove</button>
                    </form> -->
                </li>
                <% } %>
        </ul>
    </div>